*{
	padding: 0px;
	margin: 0px;;
}
/*header*/
header .header-1{
	width: 100%;
	height: 100px;
	background-color: #FFB6C1;
	border: 2px solid black;
}
header .header-1 h2{
	color: black;
	margin-left: 50%;
	margin-top: 40px;
}
/*section*/
section .section-2,.section-3{
	display: inline-block;
}
section .section-1{
	width: 100%;
	height:403px;
	background-color: #FFF;
	margin-top: 5PX;
}
section .section-2{
	width: 29%;
	height: 170px;
	background-color: #FF00FF;
	border: 2px solid black;
	padding-top: 230px;
	position: relative;
	margin-left: 5px;
}
section .section-2 h2{
	color: black;
	font-size: 30px;
	position: absolute;
	top: 150px;
	left: 150px;
}
section .section-3{
	width: 69%;
	height: 110px;
	/*border: 2px solid black;*/
	padding-top: 290px;
	position: relative;
}
section .section-4{
    width: 95%;
    height: 150px;
    background-color: #D8BFD8;
    border:2px solid black;
    margin-left: 30px;
    padding-top: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
}
section .section-4 h2{
	color: black;
	margin-left: 46%;
	margin-top: 50px;
}
section .max{
	position: relative;
}
section .section-5{
	width: 95%;
	height: 185px;
	background-color: #D8BFD8;
	border: 2px solid black;
	margin-left: 30px;
	position: absolute;
	top: -80px;
	left: 0px;
}
section .section-5 h2{
	color: black;
	padding-left: 400px;
	padding-top: 40px;
	margin-top: 40px;
	
	
}
/*footer*/
footer .footer-1{
	width: 100%;
	height: 90px;
	background-color: #FFB6C1;
	margin-top: 8px;
	border: 2px solid black;
}
.footer-2 h2{
	color: black;
	padding-top: 45px;
	padding-left: 50%;
}
@media only screen and(max-width: 1200px){
	.box{
		width:24%;
	}
}
@media only screen and(max-width: 992px){
	.box{
		width:24%;
	}
}
@media only screen and(max-width: 768px){
         .box{
		      width:100%;
	      }
}
@media only screen and(max-width: 576px){
           .box{
		        width:100%;
	        }
}